<div class="grid-form-input-field">

    <div class="btn-group" role="group">
        <button role="button" type="button" class="btn" ng-click="toggle(true)" ng-class="{'btn-info': modelCtrl.$viewValue, 'btn-default': !modelCtrl.$viewValue, disabled: disabled}">{{trueText}}</button>
    </div>
    <div class="btn-group" role="group">
      <button role="button" type="button" class="btn" ng-click="toggle(false)" ng-class="{'btn-warning': !modelCtrl.$viewValue, 'btn-default': modelCtrl.$viewValue, disabled: disabled}">{{falseText}}</button>
    </div>
</div>
