.cb-comment {

    .comment-profile-img {
        width: 50px;
        border-radius: 50px;
    }

    .comment-content {
        margin-left: 10px;
    }

}

.cb-comment-list {

    &:first-child {
        padding-left: 0px;
    }

    list-style: none;

    .cb-comment {
        margin-top: 10px;
        background: #ebf1f3;
        padding: 10px;
        border: 1px solid #c8d8dc;
        border-radius: 2px;
    }

}
