<div class="container" ng-hide="config.isUploading">
    <div class="row">
        <div class="col-xs-6">
            <button step-previous class='btn btn-default btn-block'>
                <i class="fa fa-arrow-left" />
                Back
            </button>
        </div>
        <div class="col-xs-6">
            <button ng-click="config.complete()" class='btn btn-primary btn-block'>
                <i class="fa fa-upload" />
                Import
            </button>
        </div>
    </div>
</div>

<grid ng-if="config.outputStorageGrid" grid="config.outputStorageGrid" ng-hide="config.isUploading"></grid>

<div class="container p-md" ng-show="config.isUploading">
    <p class="text-center">
        <i class="text-primary fa fa-5x fa-circle-o-notch fa-spin"/>
    </p>
</div>
