<table class="table-detail">
    <tr>
        <th>ID</th>
        <th>Action</th>
        <th>When</th>
        <th>Object Id</th>
        <th>Object</th>
        <th>Version</th>
        <th>Data Changed</th>
        <th>User</th>
    </tr>
    <tr ng-repeat="log in logs">
        <td>{{log.id}}</td>
        <td>{{log.action}}</td>
        <td>{{log.loggedAt}}</td>
        <td>{{log.objectId}}</td>
        <td>{{log.objectClass}}</td>
        <td>{{log.version}}</td>
        <td>{{log.data}}</td>
        <td>{{log.username}}</td>
    </tr>
</table>
