<div class="panel-body no-padding">
    <table class="table table-striped table-selectable table-align-center dataTable table-detail">
        <tr>
            <th>ID</th>
            <th>Action</th>
            <th>When</th>
            <th>Object Id</th>
            <th>Object</th>
            <th>Version</th>
            <th>Data Changed</th>
            <th>User</th>
        </tr>
        <tr ng-repeat="log in logs">
            <td >{{log.id}}</td>
            <td>{{log.action}}</td>
            <td>{{log.loggedAt | date:'medium'}}</td>
            <td ><a class="link" ui-sref="{{object}}({id:log.objectId})">{{log.objectId}}</a></td>
            <td>{{log.objectClass}}</td>
            <td>{{log.version}}</td>
            <td>{{log.data}}</td>
            <td>{{log.username}}</td>
        </tr>
    </table>
</div>
