<div id="admin-container">

    <div class="normalheader">
        <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
                <li><a ui-sref="admin.user">Users</a></li>
                <li class="active">
                    <span>User {{user.id}}</span>
                </li>
            </ol>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <button ng-click="edit(user)" class="btn btn-primary v-align-top m-r-sm"><i class="fa fa-pencil"/></button>
                <h2 class="font-light m-b-xs inline">
                  User {{user.id}} - {{user.firstName}} {{user.lastName}}
                </h2>
                <small class="block">{{user.username}}</small>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="row">

            <div class="col-sm-4">
                <div class="hpanel">
                    <div class="panel-heading">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-info" />
                        <div class="panel-tools">
                        Details
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">
                            <tr>
                                <td>Id</td>
                                <td>{{user.id}}</td>
                            </tr>
                            <tr>
                                <td>First Name</td>
                                <td>{{user.firstName}}</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>{{user.lastName}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-users"></i>
                        People
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">
                            <tr>
                                <td>Created By</td>
                                <td>{{user.createdBy.fullName}}</td>
                            </tr>
                            <tr>
                                <td>Updated By</td>
                                <td>{{user.updatedBy.fullName}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-calendar"></i>
                        Dates
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">
                            <tr>
                                <td>Created At</td>
                                <td>{{user.createdAt | date:'medium'}}</td>
                            </tr>
                            <tr>
                                <td>Last Updated At</td>
                                <td>{{user.updatedAt | date:'medium'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Groups Linked to User {{group.id}}
                    </div>
                    <div class="panel-body no-padding">

                        <grid grid="linkedGroupsGrid"></grid>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                     <uib-tabset active="active">
                        <uib-tab index="0">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-comment"></i> Comments
                            </uib-tab-heading>
                            <div class="panel-body">
                                Comments go here
                            </div>
                        </uib-tab>
                        <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
                            {{tab.content}}
                        </uib-tab>
                        <uib-tab index="3" select="alertMe()">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-bell"></i> Activity
                            </uib-tab-heading>
                            <div class="panel-body">
                                I've got an HTML heading, and a select callback. Pretty cool!
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>

    </div>
</div>
