<input name="{{bindTo}}" type="hidden" class="form-control" ng-model="parentObject[bindTo]">
<div class="one-to-many-container">

    <div class="one-to-many-toggler">

        <div class="one-to-many-btn-group btn-group">

            <label class="one-to-many-list-toggle btn btn-default" ng-if="!grid.selectedItem" ng-click="toggle()" ng-class="{expanded:showGrid, disabled: grid.initResultCount === 0 || disabled}">
                <span class="label label-default" ng-if="grid.initResultCount === 0">{{grid.initResultCount}}</span>
                <span class="label label-success" ng-if="grid.initResultCount > 0">{{grid.initResultCount}}</span>
                <span class="m-l-xs">Linked</span>

                <span class="label label-primary" ng-if="searchGrid.addingItems.length > 0">{{searchGrid.addingItems.length}}</span>
                <span class="m-l-xs" ng-if="searchGrid.addingItems.length > 0">Pending Addition</span>

                <span class="label label-danger" ng-if="grid.removingItems.length > 0">{{grid.removingItems.length}}</span>
                <span class="m-l-xs" ng-if="grid.removingItems.length > 0">Pending Removal</span>

                <span class="fa fa-chevron-down" ng-show="!showGrid"></span>
                <span class="fa fa-chevron-up" ng-show="showGrid"></span>
            </label>
            <label class="one-to-many-add-toggle btn btn-default btn-square" ng-click="toggleAdd()" ng-class="{expanded:showSelectGrid, disabled:disabled}">
                <i ng-if="!disabled" class="fa fa-plus"></i>
            </label>
        </div>
    </div>

    <div ng-if="grid.removingItems.length || searchGrid.addingItems.length" class="grid-staged-changes-container" ng-show="showGrid || showSelectGrid">
        <table class="staged-changes-table">
            <tr ng-if="searchGrid.addingItems.length">
                <td class="staged-type">Pending Addition</td>
                <td>
                    <ul class="staged-changes-list">
                        <li ng-repeat="addingItem in searchGrid.addingItems">
                           <span class="label label-primary">
                                {{addingItem.id + ' : ' + addingItem.stringLabel}} <i class="fa fa-remove" ng-click="searchGrid.removeAddingItem(addingItem)"></i>
                            </span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr ng-if="grid.removingItems.length">
                <td class="staged-type">Pending Removal</td>
                <td>
                    <ul class="staged-changes-list">
                        <li ng-repeat="removingItem in grid.removingItems">
                           <span class="label label-danger">
                                {{removingItem.id + ' : ' + removingItem.stringLabel}} <i class="fa fa-remove" ng-click="restoreRemovedItem(removingItem)"></i>
                            </span>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class="animated fadeIn" ng-show="showGrid">
        <grid grid="grid"></grid>
    </div>

    <div class="animated fadeIn" ng-show="showSelectGrid">
        <grid grid="searchGrid"></grid>
    </div>

    <div ng-if="numRequired">
        <p ng-class="{'text-danger': formCtrl[bindTo].$error['numrequired'] && formCtrl.$submitted }" ng-if="numRequired < 2">At least {{numRequired}} item is required</p>
        <p ng-class="{'text-danger': formCtrl[bindTo].$error['numrequired'] && formCtrl.$submitted }" ng-if="numRequired >= 2">At least {{numRequired}} items are required</p>
    </div>

</div>
