<div class="input-group">
    <input
        type="text"
        class="form-control grid-contains-search-input"
        placeholder="{{placeholder}}"
        ng-model="search"
        typeahead-wait-ms="300"
        uib-typeahead="result.stringLabel for result in getResults($viewValue)"
        typeahead-on-select="onSelect($item)"
    />
    <span class="input-group-btn" ng-click="refresh()">
        <button class="btn btn-primary no-bottom-right-radius" type="button">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>

<grid grid="grid" class="one-to-many"></grid>
