<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>

        <div>
            <h1 class="logo-name">UT</h1>
        </div>

        <div ng-hide="success">

            <h3>Password Reset</h3>

            <p>Please type in your email address below, and we'll e-mail you instructions to reset your password</p>

            <form name="resetPasswordForm" ng-submit="submit()" class="m-t" role="form">

                <div class="form-group">
                    <input name="email" ng-model="email" type="email" class="form-control" placeholder="Email" required="">
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Reset Password</button>

                <button ui-sref="login" type="button" class="btn btn-default block full-width m-b">Cancel</button>

            </form>

        </div>

        <div ng-show="success">

            <p><i class="fa fa-check fa-5x text-success" /></p>
            Reset instructions were successfully sent to {{email}}

        </div>

    </div>
</div>
