<div id="profile-container">

    <div class="normalheader">
        <div id="hbreadcrumb" >
            <ol class="hbreadcrumb breadcrumb">
                <li><a ui-sref="dashboard.main">Dashboard</a></li>
                <li class="active">
                    <span>Profile</span>
                </li>
            </ol>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    Profile
                </h2>
                <button ng-if="userBool" ng-click="changePassword()" class="btn btn-primary"><i class="fa fa-lock"/></button>
                <small>{{user.username}}'s profile details</small>
            </div>
        </div>
    </div>

    <div class="content">

    <div class="row">

        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    User Details
                </div>
                <div class="panel-body float-e-margins">

                    <button ng-if="userBool" ng-click="edit(user)" class="btn btn-primary v-align-top m-r-sm"><i class="fa fa-pencil"/></button>

                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Profile picture -->
                            <div class="avatar-container align-center">
                                <div class="avatar" ng-click="!userBool || uploadPhoto()">
                                    <img ng-if="!hasAvatar()" class="img-circle" src="images/avatar.jpg"></img>
                                    <img ng-if="hasAvatar()" class="img-circle" ng-src="{{avatarSrc}}"></img>
                                    <div ng-if="userBool"  class="img-circle avatar-edit animated pulse"></div>
                                </div>
                            </div>
                            <div class="m-t-md user-info">
                                <dl>
                                    <dt><h3>{{user.fullName}}</h3></dt>
                                    <dd>{{user.title}}</dd>
                                </dl>
                                <dl>
                                    <dt>About me</dt>
                                    <dd>{{user.about}}</dd>
                                </dl>
                                <dl>
                                    <dt>Assigned Projects</dt>
                                </dl>
                                <dl ng-repeat="project in projects">
                                    <dd><a ui-sref="project.detail({id:project.id})">{{project.name}}</a></dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel-body float-e-margins">

                    <div class="panel-body">
                        <cb-object-comments object-type="user" object-id="user.id"></cb-object-comments>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Activity
                </div>

                <div class="panel-body no-padding" >

                    <div class="col-sm-12" style="padding-top: 20px">
                        <button ng-if="userBool" ng-click="dismissAll()" class="btn btn-primary pull-right" >Dismiss All</button>
                    </div>

                    <grid grid="watchedRequestsGrid"></grid>
                </div>

            </div>
        </div>
    </div>

</div>
