<div class="btn-group" uib-dropdown keyboard-nav>
    <button id="single-button" type="button" class="btn btn-default" title="{{filter.selectionString}}" uib-dropdown-toggle ng-class="{filtering: filter.isFiltering}">
        {{filter.title}} : {{ filter.selectionString }}
        <span class="caret"></span>
        <i class="fa fa-close grid-filter-toggle" ng-click="toggleFilter($event)" />
    </button>

    <ul uib-dropdown-menu class="dropdown-menu integer p-sm" role="menu" aria-labelledby="single-button" ng-click="$event.stopPropagation()">

        <form>
            <div class="btn-group btn-group-justified m-b-sm">
                <cb-boolean cb-boolean-primary ng-model="filter.showDeleted"></cb-boolean>
            </div>
        </form>

        <div class="row no-margin">
            <div class="col-md-6 m-b-sm">
                <button type="button" class="btn btn-info btn-block" ng-click="update()">Update</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-default btn-block" ng-click="refresh()">
                    <i class="fa fa-refresh" />
                </button>
            </div>
        </div>

    </ul>
</div>
