<div class="btn-group" uib-dropdown keyboard-nav>
    <button id="single-button" type="button" class="btn btn-default" title="{{filter.selectionString}}" uib-dropdown-toggle ng-class="{filtering: filter.isFiltering, disabled:filter.disabled}">
        {{filter.title}} : {{ filter.selectionString }}
        <span class="caret"></span>
        <i class="fa fa-close grid-filter-toggle" ng-click="toggleFilter($event)" />
    </button>

    <ul uib-dropdown-menu class="dropdown-menu integer p-sm" role="menu" aria-labelledby="single-button" ng-click="$event.stopPropagation()">

        <div class="btn-group btn-group-justified m-b-sm">
            <div class="btn-group" role="group">
                <button ng-model="form.radioModel" role="button" type="button" class="btn" uib-btn-radio="'Yes'" ng-class="{'btn-info': form.radioModel == 'Yes', 'btn-default': form.radioModel != 'Yes'}">Yes</button>
            </div>
            <div class="btn-group" role="group">
              <button ng-model="form.radioModel" role="button" type="button" class="btn" uib-btn-radio="'No'" ng-class="{'btn-info': form.radioModel == 'No', 'btn-default': form.radioModel != 'No'}">No</button>
            </div>
            <div class="btn-group" role="group">
              <button ng-model="form.radioModel" role="button" type="button" class="btn" uib-btn-radio="'Any'" ng-class="{'btn-info': form.radioModel == 'Any', 'btn-default': form.radioModel != 'Any'}">Any</button>
            </div>
        </div>

        <div class="row no-margin">
            <div class="col-md-6 m-b-sm">
                <button type="button" class="btn btn-info btn-block" ng-click="update()">Update</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-default btn-block" ng-click="refresh()">
                    <i class="fa fa-refresh" />
                </button>
            </div>
        </div>

    </ul>
</div>
