/*

    The gridform interface elements also depend upon style elements which are present in Grids and Forms -- at some point it would be a good idea to rename the classes an pull all of the less code into this form.

    Currently the only less which is supported at this time are the new classes which neeeded to be created in order to make this possible.

*/


.grid-form-text-area-dropdown:focus-within>.dropdown-menu {
  display: block;
}

.grid-form-column-header {
  padding: 10px;
}

.grid-form-filter-check {
    margin-right: 5px;
}

.grid-form-filter-radio {
    margin-right: 5px;
}

// This doet not seem to work when it is placed on input fields with type="radio"
.grid-form-menu-item-input {
    margin-left: 5px;
    margin-right: 900px;
}

// for some reason the .grid-form-menu-item-input is not working when it is placed on an input field... in order to get around that I created this spacer
.grid-form-dropdown-input-spacer {
    margin-left: 5px;
}

.grid-form-input-field {
    margin: 1px;
}

.grid-form-column-dropdown-input-field-selected {
  font-weight: bold;
}

.dropdownColumnNoText{
    // background-color: 0x000000;
    // font-weight: bold;
    // display: block;
    // height: 25px;

    white-space: nowrap;
    background-color: white;

    //max-width: 150px;
    overlfow-x: scroll;

    //width: 100%;
    // padding-top: 7px;
    // padding-bottom: 7px;

    //-ms-box-sizing:content-box;
    //-moz-box-sizing:content-box;
    //box-sizing:content-box;
    //-webkit-box-sizing:content-box;

}

.dropdownColumnNoText:focus {
    max-width: 500px;
}


.wFullWidth{
    width:100%;
    //overflow-x: scroll;
    //max-width: 150 px;
}


.Fixed
{
    position: fixed;
    top: 50%;
    z-index: 100;
    right: 50px;
}


.form-control2 {
  display: inline-block;
  min-width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control2:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control2::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control2:-ms-input-placeholder {
  color: #999;
}
.form-control2::-webkit-input-placeholder {
  color: #999;
}
.form-control2[disabled],
.form-control2[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

