<div id="admin-container">

    <div class="normalheader">

        <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
                <li><a ui-sref="dashboard.main">Dashboard</a></li>
                <li class="active">
                    <span>Catalogs</span>
                </li>
            </ol>
        </div>
        <div class="col-sm-3" style="text-align:center">
            <div class="hpanel">

                 <div class="panel-body">

                    <h2 class="font-light m-b-xs">
                        Catalogs
                    </h2>
                    <br>
                    <large> Manage Catalogs </large>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="text-align:center">
            <div class="hpanel">

                 <div class="panel-body">
                    <h3 class="font-light m-b-xs">
                        Antibody Naming is based off Target Abbreviation
                    </h3>
                    <br>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-info btn-block btn-mobile-stack" ng-click="linky()" >Target List</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5" style="text-align:center">
            <div class="hpanel">

                 <div class="panel-body">
                    <h3 class="font-light m-b-xs">
                        Primary Sample Naming is based off DonorID + HS Request
                    </h3>
                    <br>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <button class="btn btn-info btn-block btn-mobile-stack" ng-click="linky2()" >Donor List</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <button class="btn btn-info btn-block btn-mobile-stack" ng-click="linky3()" >HS List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Catalogs
                    </div>
                    <div class="panel-body no-padding">

                        <grid grid="grid"></grid>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


