<div id="admin-container">

    <div class="normalheader">
        <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
                <li><a ui-sref="catalog.index">Catalog</a></li>
                <li class="active">
                    <span>Catalog {{catalog.id}}</span>
                </li>
            </ol>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <button ng-click="edit(sample)" class="btn btn-primary v-align-top m-r-sm"><i class="fa fa-pencil"/></button>
                <h2 class="font-light m-b-xs inline">
                  Catalog {{catalog.id}} - {{catalog.name}}
                </h2>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="row">

            <div class="col-sm-4">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-info" />
                        Details
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">
                            <tr>
                                <td>Id</td>
                                <td>{{catalog.id}}</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>{{catalog.name}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-users"></i>
                        People
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">
                            <tr>
                                <td>Created By</td>
                                <td>{{catalog.createdBy.fullName}}</td>
                            </tr>
                            <tr>
                                <td>Updated By</td>
                                <td>{{catalog.updatedBy.fullName}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-calendar"></i>
                        Dates
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">
                            <tr>
                                <td>Created At</td>
                                <td>{{catalog.createdAt | date:'medium'}}</td>
                            </tr>
                            <tr>
                                <td>Last Updated At</td>
                                <td>{{catalog.updatedAt | date:'medium'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <cb-attachments object-id="catalog.id" object-class="AppBundle\Entity\Storage\Catalog"></cb-attachments>
            </div>
        </div>

        <div class="row" ng-if="dnaSamples.results.length > 0">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-flask"></i>
                        DNA
                    </div>
                    <div class="panel-body no-padding">
                        <grid grid="dnaSamples" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="proteinSamples.results.length > 0">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-flask"></i>
                        Protein
                    </div>
                    <div class="panel-body no-padding">
                        <grid grid="proteinSamples" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="seraSamples.results.length > 0">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-flask"></i>
                        Sera
                    </div>
                    <div class="panel-body no-padding">
                        <grid grid="seraSamples" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="bacterialSamples.results.length > 0">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-flask"></i>
                        Bacterial Cells
                    </div>
                    <div class="panel-body no-padding">
                        <grid grid="bacterialSamples" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="mammalianSamples.results.length > 0">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-flask"></i>
                        Mammalian Cells
                    </div>
                    <div class="panel-body no-padding">
                        <grid grid="mammalianSamples" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="yeastSamples.results.length > 0">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-flask"></i>
                        Yeast Cells
                    </div>
                    <div class="panel-body no-padding">
                        <grid grid="yeastSamples" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="chemicalSamples.results.length > 0">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-flask"></i>
                        Chemical Compound
                    </div>
                    <div class="panel-body no-padding">
                        <grid grid="chemicalSamples" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="solutionSamples.results.length > 0">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-flask"></i>
                        Solution
                    </div>
                    <div class="panel-body no-padding">
                        <grid grid="solutionSamples" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="otherSamples.results.length > 0">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-flask"></i>
                        Other
                    </div>
                    <div class="panel-body no-padding">
                        <grid grid="otherSamples" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                     <uib-tabset active="active">
                        <uib-tab index="0">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-comment"></i> Comments
                            </uib-tab-heading>
                            <div class="panel-body">
                                <cb-object-comments object-type="catalog" object-id="catalog.id"></cb-object-comments>
                            </div>
                        </uib-tab>
                        <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
                            {{tab.content}}
                        </uib-tab>
                        <uib-tab index="3" select="alertMe()">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-bell"></i> Activity
                            </uib-tab-heading>
                            <div class="panel-body no-padding">
                                <object-history object-class="AppBundle\Entity\Storage\Catalog" object-id="catalog.id"></object-history>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>

    </div>
</div>
