<div id="admin-container">
    <div class="normalheader">

        <div class="hpanel">
            <div class="panel-body">

                <h2 class="font-light m-b-xs">
                   Division
                </h2>

                <small>Manage Divisions</small>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                       Division
                    </div>
                    <div class="panel-body no-padding">

                        <grid grid="grid"></grid>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
