<div class="cb-object-comments">

    <ul class="cb-comment-list">
        <li ng-repeat="comment in comments" class="comment-parent">
            <cb-comment comment="comment"></cb-comment>
        </li>
<!--         <li class="comment-parent" ng-hide="isLoading">
            <button type="button" class="btn btn-default m-l"><i class="fa fa-comment"/> Comment</button>
            <cb-comment comment="defaultComment" cb-comment-edit-on-load cb-comment-default></cb-comment>
        </li>
 -->
    </ul>

</div>
