<div class="cb-address-form-container">

    <div class="one-to-many-toggler">

        <div class="one-to-many-btn-group btn-group">

            <label class="one-to-many-list-toggle btn btn-default" ng-click="toggle()" ng-class="{expanded:showGrid, disabled: grid.initResultCount === 0 || disabled}">
                <!-- <span class="label label-default" ng-if="items.length === 0">{{grid.initResultCount}}</span> -->
                <span class="label label-success" ng-if="addresses.length > 0">{{addresses.length}}</span>
                <span ng-if="addresses.length > 0" class="m-l-xs">Linked</span>

                <span ng-if="!addresses.length" class="m-l-xs">Add Address <i class="fa fa-plus"/></span>

                <span class="label label-primary" ng-if="searchGrid.addingItems.length > 0">{{searchGrid.addingItems.length}}</span>
                <span class="m-l-xs" ng-if="searchGrid.addingItems.length > 0">Pending Addition</span>

                <span class="label label-danger" ng-if="grid.removingItems.length > 0">{{grid.removingItems.length}}</span>
                <span class="m-l-xs" ng-if="grid.removingItems.length > 0">Pending Removal</span>

                <span class="fa fa-chevron-down" ng-hide="!addresses.length || show"></span>
                <span class="fa fa-chevron-up" ng-show="show"></span>
            </label>

        </div>

    </div>

    <div class="animated fadeIn" ng-show="show">

        <ul class="cb-address-form-list">
            <li class="add" ng-click="createAddress()">
                Add Address
            </li>
            <li ng-repeat="address in addresses" ng-class="{'bg-info': !address.isDefault, 'bg-primary': address.isDefault }">
                <address>
                    {{address.address}}<br>
                    {{address.address2}}<br ng-if="address.address2">
                    {{address.email}}<br>
                    {{address.phone}}<br>
                    {{address.city}}<br>
                    {{address.state}}<br>
                    {{address.zip}}<br>
                </address>
                <div class="actions">
                    <a ng-click="edit(address)">Edit</a>
                    <span>|</span>
                    <a ng-click="remove(address)">Delete</a>
                    <span ng-if="!address.isDefault">|</span>
                    <a ng-if="!address.isDefault" ng-click="setDefault(address)">Set As Default</a>
                <div>
            </li>
        </ul>

    </div>

    <div class="animated fadeIn" ng-if="showAdd">

        <form name="addressForm" method="get" class="form-horizontal" ng-submit="submit(addressForm.$valid)" novalidate autocomplete="off">

            <div class="form-container">

                <cb-form-group label="Address" name="address">
                    <div class="col-sm-10">
                        <input name="address" type="text" class="form-control" ng-model="address.address" required>
                        <div ng-messages="addressForm.address.$error" ng-show="submitted">
                            <p ng-message="required" class="text-danger">This field is required</p>
                        </div>
                    </div>
                </cb-form-group>

                <cb-form-group label="Address 2" name="address2">
                    <div class="col-sm-10">
                        <input name="address2" type="text" class="form-control" ng-model="address.address2">
                        <div ng-messages="addressForm.address2.$error" ng-show="submitted">
                            <p class="text-danger"/p>
                        </div>
                    </div>
                </cb-form-group>

                <cb-form-group label="Email" name="email">
                    <div class="col-sm-10">
                        <input name="email" type="text" class="form-control" ng-model="address.email" required>
                        <div ng-messages="addressForm.email.$error" ng-show="submitted">
                            <p ng-message="required" class="text-danger">This field is required</p>
                        </div>
                    </div>
                </cb-form-group>

                <cb-form-group label="Phone" name="phone">
                    <div class="col-sm-10">
                        <input name="phone" type="text" class="form-control" ng-model="address.phone" required>
                        <div ng-messages="addressForm.phone.$error" ng-show="submitted">
                            <p ng-message="required" class="text-danger">This field is required</p>
                        </div>
                    </div>
                </cb-form-group>

                <cb-form-group label="City" name="city">
                    <div class="col-sm-10">
                        <input name="city" type="text" class="form-control" ng-model="address.city" required>
                        <div ng-messages="addressForm.city.$error" ng-show="submitted">
                            <p ng-message="required" class="text-danger">This field is required</p>
                        </div>
                    </div>
                </cb-form-group>

                <cb-form-group label="State" name="state">
                    <div class="col-sm-10">
                        <input name="state" type="text" class="form-control" ng-model="address.state" required>
                        <div ng-messages="addressForm.state.$error" ng-show="submitted">
                            <p ng-message="required" class="text-danger">This field is required</p>
                        </div>
                    </div>
                </cb-form-group>

                <cb-form-group label="Zip" name="zip">
                    <div class="col-sm-10">
                        <input name="zip" type="text" class="form-control" ng-model="address.zip" required>
                        <div ng-messages="addressForm.zip.$error" ng-show="submitted">
                            <p ng-message="required" class="text-danger">This field is required</p>
                        </div>
                    </div>
                </cb-form-group>

                <cb-form-group label="Country" name="country">
                    <div class="col-sm-10">
                        <input name="country" type="text" class="form-control" ng-model="address.country" required>
                        <div ng-messages="addressForm.country.$error" ng-show="submitted">
                            <p ng-message="required" class="text-danger">This field is required</p>
                        </div>
                    </div>
                </cb-form-group>

                <div>
                    <button type="button" ng-click="saveAddress(addressForm.$valid)" class="btn btn-default">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="cancelEdit()">Cancel</button>
                </div>

            </div>

        </form>


    </div>

</div>
