<!-- The table that contains the forms -->
<table>

    <!-- The header row for the table -->
    <tr>
        <th ng-repeat="col in gridForm.columns"> <!-- ng-repeat for each column -->
            <center> {{col.header}} </center>
        </th>
    </tr>

    <!-- For each entity look at each column and use the correct directive for the type of entity -->
    <tr ng-repeat="row in gridForm.rowOrdering">
        <td ng-repeat="col in gridForm.columns">
                <grid-form-column column="col" value="gridForm.rows[row]['entity'][col['field']]"></grid-form-column>
        </td>
    </tr>

</table>


<br />
<br />
<br />
<br />
<br />
<a ng-click="dumpDataModel()"> Dump the datamodel to ensure that it is being modified.</a>
