<!-- The table that contains the forms -->
<table>

    <!-- The header row for the table -->
    <tr>
        <th ng-repeat="col in gridForm.columns"> <!-- ng-repeat for each column -->
            <center> {{col.header}} </center>
        </th>
    </tr>

    <!-- For each entity look at each column and use the correct directive for the type of entity -->
    <tr ng-repeat="row in gridForm.rowOrdering">
        <td ng-repeat="col in gridForm.columns">
                {{gridForm.rows[row]['entity'][col['field']]}}<input></input>
        </td>
    </tr>

</table>






<!-- Some experimental stuff that will be removed before too long -->
<div>
    <cb-dropdown name="gender" ng-model="asdf" label="Dropdown example" items="genders" required></cb-dropdown>
</div>


<!-- Notes that will be removed once I am done building this features -->
<!--

    ng-repeat columns

    ng-repeat rows
        ng-repeat columns
            gridColumnDirective type=X required=X minRequired=X maxRequired=X backendUrl=X (for suggestions) on relations validators=X

-->
