<!--

    Under construction


    data
    field

-->


<!-- The table that contains the forms -->
<div style="scroll-direction: horizontal;overflow:scroll;">

    <div class="row">

        <div class="btn-group pull-center">
            <button class="btn btn-primary pull-left" tooltip="testing" ng-click="alert('ballz')" ><i class="fa fa-plus"></i></button>
            <button class="btn btn-primary pull-left" tooltip="testing" ng-click="alert('ballz')" ><i class="fa fa-angle-down"></i></button>
            <button class="btn btn-primary pull-left" tooltip="testing" ng-click="alert('ballz')" >Reset selected row</button>
        </div>

    </div>

    <table>

        <!-- The header row for the table -->
        <tr>
            <th ng-repeat="col in gridForm.columns"> <!-- ng-repeat for each column -->
                <center>

                    <i class="fa fa-link" aria-hidden="true"></i>
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <i class="fa fa-text-width" aria-hidden="true"></i>
                    <i class="fa fa-i-cursor" aria-hidden="true"></i>

                    <br />
                    {{col.name}}
                </center>
            </th>
        </tr>

        <!-- For each entity look at each column and use the correct directive for the type of entity -->
        <tr ng-repeat="row in gridForm.rowOrdering">
            <td ng-repeat="col in gridForm.columns">
                    <!-- <grid-form-column class="wFullWidth" column="col" data="gridForm.rows[row]['entity']" field="col['field']"></grid-form-column> -->

                <grid-form-column class="wFullWidth" column="col" data="gridForm.rows[row]['entity']" field="col['field']"></grid-form-column>

            </td>
        </tr>

    </table>

    <br />
    <br />
    <br />
    <br />
    <button class="btn btn-primary Fixed" ><i class="fa fa-save"></i> Save</button>
    <a ng-click="dumpDataModel()"> Dump the datamodel to ensure that it is being modified.</a>
    <a ng-click="addEmptyRow()"> Add Empty Row </a>
</div>
