<!--



-->
<div class="btn-group grid-form-input-field grid-form-text-area-dropdown wFullWidth" uib-dropdown keyboard-nav >

    <span class='dropdownColumnNoText form-control' ng-keydown="keyPressHandler($event,item)" ng-paste="catchPaste($event)" tabindex="0" ng-focus="shiftFocus()">

        <span id="testing" ng-paste="console.log('ng-paste')" ng-if="!(obj[field].length > 0)" class="wFullWidth">None</span>

        <span ng-repeat="thing in obj[field]">
            <span class="label label-success">{{thing}} <i class="fa fa-remove" ng-click="unselectItem(thing)"></i></span><span  ng-if="!$last">, </span>
        </span>

    </span>

    <ul uib-dropdown-menu class="dropdown-menu" role="menu" ng-if="focusGained">

        <div ng-repeat="item in suggestionList" tabindex="-1" ng-click="selectItem(item)" on-focus="shiftFocus()">
            <li role="menuitem">
                <span class="grid-form-dropdown-input-spacer disable" on-focus="shiftFocus()" /> <i on-focus="shiffFocus()" class="fa fa-check" ng-show="obj[field].includes(item)"> </i> <span on-focus="shiftFocus()" class="grid-form-dropdown-input-spacer" / > <span ng-class="{ 'grid-form-column-dropdown-input-field-selected' : highlightedElement == item }">{{item}}</span>
            </li>
        </div>

    </ul>

</div>
