<div class="btn-group grid-form-input-field grid-form-text-area-dropdown" uib-dropdown keyboard-nav >

<!--
    For the dropdown I think that we are going do do away with the textbox like this...
-->

<!--
    <input
        ng-model="form.search"
        ng-change="search()"
        ng-model-options="{debounce:300}"
        ng-keydown="keyPressHandler($event, item)"
        ng-focus="console.log('testing')"
        class="form-control"
    >

    </input>
-->


    <span class='first dropdownColumnNoText form-control' ng-keydown="keyPressHandler($event,item)" tabindex="0" ng-focus="shiftFocus()">

        <span ng-if="!(selectedValues.length > 0)">None selected</span>

        <!-- <span>{{selectionListString}}</span> -->

        <span ng-repeat="thing in selectedValues">
            {{thing}}<span ng-if="!$last">, </span>
        </span>


    </span>

    <ul uib-dropdown-menu class="dropdown-menu" role="menu" >

        <input class='second' type="text" id="testing" tabindex="-1">
        </input>

        <!-- select single -->
        <div ng-repeat="item in suggestionList" tabindex="-1" ng-click="selectItem(item)" ng-if="!selectMultiple">
            <li role="menuitem">
                <span class="grid-form-dropdown-input-spacer" / > <input type="radio" class="grid-form-menu-item-input" ng-model="selectedThing.name" ng-value="item" tabindex="-1"" /> <span class="grid-form-dropdown-input-spacer" / > <span ng-class="{ 'grid-form-column-dropdown-input-field-selected' : highlightedElement == item }">{{item}}</span>
            </li>
        </div>

        <!-- select multiple -->
        <div ng-repeat="item in suggestionList" tabindex="-1" ng-click="selectItem(item)" ng-if="selectMultiple">
            <li role="menuitem" tabindex="-1">
                <span class="grid-form-dropdown-input-spacer" / > <input type="checkbox" ng-model="multiSelected[item]" class="grid-form-menu-item-input"  tabindex="-1"" /> <span class="grid-form-dropdown-input-spacer" / > <span ng-class="{ 'grid-form-column-dropdown-input-field-selected' : highlightedElement == item }">{{item}}</span>
            </li>
        </div>

    </ul>

</div>
