<!--
    Under construction

    It appears as though the dropdown is closing not due to a failure to stop the proagation of the click event but rather due to a failure to maintain focus on the indended element.
-->

<div class="btn-group grid-form-text-area-dropdown" uib-dropdown keyboard-nav ng-click="stopClickPropagation($event)">

    <input
        ng-model="form.search"
        ng-change="search()"
        ng-model-options="{debounce:300}"
        class="form-control"
    >

    </input>

    <ul uib-dropdown-menu class="dropdown-menu" aria-labelledby="test-area" role="menu"  ng-click="stopClickPropagation($event)" >

        <li role="menuitem" ng-repeat="item in suggestionList" ng-click="selectItem(item)">
            <a tabindex="0">
                <input type="radio" ng-model="selectedThing.name" value="item" tabindex="-1">
                    {{item}}
                </input>
            </a>
        </li>

    </ul>

</div>

<!--
class="grid-filter-item-detail"
                <input type="radio" ng-model="selectedThing" name="itemOfThisType" value="item" ng-value="item" />
-->

<!-- This is going to stay where it is -->

<!--
ng-click="testing()"

    <span ng-bind="item"></span>

            We have not yet added the add or remove item functionality.
            ng-click="removeItem(item)"


        <input type="checkbox" checked="checked" class="grid-filter-check"></input>

        I removed the href property from the list entries ....


<li role="menuitem" ng-repeat="item in suggestionList" >
            <a class="grid-filter-item-detail">
                <span ng-bind="item"></span>
            </a>
        </li>
-->

<!--
        display all that are not selected
-->

<!--
        <li role="menuitem" ng-repeat="item in suggestionList" >
            <a class="grid-filter-item-detail">
                <input type="radio" name="selectedItem" value="item" / >
                <span ng-bind="item"></span>
            </a>
        </li>
-->

<!--
        If there is one selected pull it up to the top


    <li class="divider" ng-if="filter.selectedItems.length"></li>
-->
