<form name="reportForm" method="get" class="form-horizontal" ng-submit="save(reportForm.$valid)" novalidate autocomplete="off">

    <div id="user-form-container">

        <div class="modal-header">
            <button type="button" class="close" ng-click="close()"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Working Set</h4>
        </div>

        <div class="modal-body">

            <cb-form form="cbForm">

                <div ng-if="wsm.collapsed">

                    <button class="btn btn-success" ng-click="wsm.refresh()">Refresh</button>
                    <button class="btn btn-success" ng-click="wsm.selectAll()">Select All</button>
                    <button class="btn btn-success" ng-click="wsm.deselectAll()">Deselect All</button>
                    <br />
                    <br />

                    <div ng-if="wsm.loading == true" > Loading please wait </div>
                    <div ng-if="wsm.data">
                        <ul>
                            <li ng-repeat="entry in wsm.data"><input ng-model="entry.selected" bind-to='entry.selected' type="checkbox"></input> &nbsp {{entry.id}} - {{entry.catalog.name}} - {{entry.description}}</li>
                        </ul>

                    </div>

                    <br />

                    <table>
                        <tr>
                            <td ng-repeat="entry in wsm.buttons">
                                <button class="btn btn-primary" ng-click="entry.action()" ng-if="entry.type == 'button'">{{entry.text}}</button>
                                <div uib-dropdown is-open="false">
                                    <button ng-if="entry.type == 'dropdown'" type="button" class="btn btn-block" ng-class="buttonClass" uib-dropdown-toggle>
                                        <i ng-if="iconClass != undefined" class="{{iconClass}}" />
                                        <span ng-if="!isFormCtrl">{{entry.text}}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu class="dropdown-menu modal-dropdown-menu" role="menu" aria-labelledby="single-button">
                                        <li ng-repeat="dropdownSelection in entry.dropdownActions"><a ng-click="dropdownSelection.action()">{{dropdownSelection.text}}</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>

                <!-- I don't know if we are making this a dropdown or an expandable region -- This stylesheet excperpt + code  should allow us to keep a dropdown open when there are click events within the dropdown -- Don't know if we are going to end up doing that..-->
                <!--
                                cb-on-select-context="config"
                -->

                    <!-- This section has been moved from its old location in the navbar to this directive where it will ultimately live -->
                    <!--
                    <script>

                                        // Make it possible for use to keep the working set menu open
                                        $('.dropdown.keep-open').on({
                                            "shown.bs.dropdown": function() {

                                                this.closable = true;

                                            },
                                            "click": function() {

                                                this.closable = false;

                                            },
                                            "hide.bs.dropdown": function() {

                                                if(this.closable == false){
                                                    this.closable = true;
                                                    return false;
                                                }

                                                else return true;

                                            }
                                        });

                                    </script>

                                    <li class="dropdown keep-open" id="dLabel">
                                        <a href="" class="dropdown-toggle" ng-click="main.refreshWorkingSet1()" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Working Set<span class="caret"></span></a>
                                        <ul class="dropdown-menu" style="width: 300px;" aria-labelledby="dLabel">

                                            <li>
                                                <div class="container">
                                                    <div class="row>"><button>Select All</button><button>Export Bulk Update</button><button>Production</button></div>
                                                </div>
                                            </li>

                                            <li ng-if="!workingSet || loading">
                                                <i class="text-primary fa fa-1x fa-circle-o-notch fa-spin"/> Checking working set
                                            </li>

                                            <li ng-if="workingSet" ng-repeat="entry in workingSet" ng-bind-html-unsafe="opt.text">
                                                <div style="margin-right: 10px; margin-left: 10px;"><a ui-sref="sample.detail({'id': entry.id})" ui-sref-opts="{reload:true, inherit:false}" href=""> {{ entry.id }} </a> {{entry.catalog.stringLabel}}</div>
                                            </li>
                                        </ul>

                                    </li>
                -->

                </div>
            </cb-form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        </div>

    </div>

</form>
