<form name="workingSetForm" method="get" class="form-horizontal" ng-submit="save(workingSetForm.$valid)" novalidate autocomplete="off">
    <!-- We are going to remove the form functionality from this at some point -->

    <div id="working-set-form-container">

        <div class="modal-header">
            <button type="button" class="close" ng-click="close()"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Working Set</h4>
        </div>

        <div class="modal-body">
            <cb-form form="cbForm">

                <!-- select the set that you would like to change -->

                <div>
                    <button ng-repeat="set in wsm.sets" class="btn btn-success" ng-click="wsm.changeSelectedSet(set)">{{set}}</button>

                    <hr class="dash" />
                    <button class="btn btn-success" ng-click="wsm.refresh()">Refresh</button>
                    <button class="btn btn-success" ng-click="wsm.selectAll()">Select All</button>
                    <button class="btn btn-success" ng-click="wsm.deselectAll()">Deselect All</button>
                    <br />
                    <br />
                </div>

                <div ng-repeat="set in wsm.sets" ng-if="wsm.selectedSet == set">

                    <div >
                        <ul ng-if="wsm.data[set]">
                            <li ng-if="wsm.loading == true" > <i class="text-primary fa fa-circle-o-notch fa-spin"/> Loading please wait</li>
                            <li ng-if="wsm.data[set].length==0">Working set currently empty</li>
                            <li ng-repeat="entry in wsm.data[set]" class="grid-filter-item" ng-click="console.log(entry)"><label><input ng-model="entry.selected" bind-to='entry.selected' type="checkbox"></input><span>&nbsp {{entry.id}} - {{entry.catalog.name}} - {{entry.description}}</span></label></li>
                        </ul>
                    </div>

                    <br />

                    <table>
                        <tr>
                            <td ng-repeat="entry in wsm.buttons[set]">
                                <button class="btn btn-primary" ng-click="entry.action()" ng-if="entry.type == 'button'">{{entry.text}}</button>
                                <div uib-dropdown is-open="false">
                                    <button ng-if="entry.type == 'dropdown'" type="button" class="btn btn-block" ng-class="buttonClass" uib-dropdown-toggle>
                                        <i ng-if="iconClass != undefined" class="{{iconClass}}" />
                                        <span ng-if="!isFormCtrl">{{entry.text}}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu class="dropdown-menu modal-dropdown-menu" role="menu" aria-labelledby="single-button">
                                        <li ng-repeat="dropdownSelection in entry.dropdownActions"><a ng-click="dropdownSelection.action()">{{dropdownSelection.text}}</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>

            </cb-form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        </div>

    </div>
</form>
