<div id="profile-container">

    <div class="normalheader">
        <div class="hpanel">
            <div class="panel-body">

                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a ui-sref="dashboard.main">Dashboard</a></li>
                        <li class="active">
                            <span>Profile</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Profile
                </h2>
                <button ng-click="changePassword()" class="btn btn-primary"><i class="fa fa-lock"/></button>
                <small>{{user.username}}'s profile details</small>
            </div>
        </div>
    </div>

    <div class="content">

    <div class="row">
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    User Details
                </div>
                <div class="panel-body float-e-margins">

                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Profile picture -->
                            <div class="avatar-container align-center">
                                <div class="avatar" ng-click="uploadPhoto()">
                                    <profile-avatar></profile-avatar>
                                    <div class="img-circle avatar-edit animated pulse"></div>
                                </div>
                            </div>
                            <div class="m-t-md user-info">
                                <dl>
                                    <dt><h3>{{user.fullName}}</h3></dt>
                                </dl>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Activity
                </div>
                <div class="panel-body float-e-margins">
                    No activity to show
                    <table>
                        <thead>
                            <th>
                                ID
                            </th>
                            <th>
                                Action
                            </th>
                            <th>
                                Logged At
                            </th>
                            <th>
                                Object ID
                            </th>
                            <th>
                                Object Class
                            </th>
                            <th>
                                Version
                            </th>
                            <th>
                                User Name
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="activity in activities.value">
                                <td>
                                    {{activity.id}}
                                </td>
                                <td>
                                    {{activity.action}}
                                </td>
                                <td>
                                    {{activity.loggedAt}}
                                </td>
                                <td>
                                    {{activity.onjectId}}
                                </td>
                                <td>
                                    {{activity.objectClass}}
                                </td>
                                <td>
                                    {{activity.version}}
                                </td>
                                <td>
                                    {{activity.username}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
