cb-user-avatar {
   &.xs {
       height: 20px;
   }
   &.sm {
       height: 40px;
   }
   &.md {
       height: 60px;
   }
   &.lg {
       height: 80px;
   }
   &.xg {
       height: 100px;
   }
}
