cb-user-avatar {
    margin-right: 5px;
    &.xxs {
      img {
        height: 15px;
      }
    }
    &.xs {
      img {
        height: 20px;
      }
    }
    &.sm {
      img {
        height: 40px;
      }
    }
    &.md {
      img {
        height: 60px;
      }
    }
    &.lg {
      img {
        height: 80px;
      }
    }
    &.xg {
       img {
         height: 100px;
        }
    }
}
