<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Catalog</th>
            <th>Division</th>
            <th>Division Row</th>
            <th>Division Column</th>
        </tr>
    </thead>
    <tbody>
            <tr ng-repeat="sample in samples">
                <td>
                    {{sample.id}}
                </td>
                <td>
                    {{sample.catalog}}
                </td>
                <td>
                    {{sample.division.stringLabel}}
                </td>
                <td>
                    {{sample.divisionRow}}
                </td>
                <td>
                    {{sample.divisionColumn}}
                </td>
            </tr>
    </tbody>
</table>
