<table class="table">
    <thead>
        <tr>
            <th>Catalog</th>
            <th>Description</th>
            <th>Sample Type</th>
            <th>Status</th>
            <th>Storage Container</th>
            <th>Donor</th>
            <th>Target</th>
            <th>Molecule</th>
            <th>Tag</th>
            <th>Concentration</th>
            <th>Concentration Units</th>
            <th>Division</th>
            <th>Division Row</th>
            <th>Division Column</th>
        </tr>
    </thead>
    <tbody>
            <tr ng-repeat="sample in samples">
                <td>
                    {{sample.catalog}}
                </td>
                <td>
                    {{sample.description}}
                </td>
                <td>
                    {{sample.sampleType.stringLabel}}
                </td>
                <td>
                    {{sample.status}}
                </td>
                <td>
                    {{sample.storageContainer.stringLabel}}
                </td>
                <td>
                    {{sample.donor.stringLabel}}
                </td>
                <td>
                    {{sample.target.stringLabel}}
                </td>
                <td>
                    {{sample.molecule.stringLabel}}
                </td>
                <td>
                    {{sample.tag.stringLabel}}
                </td>
                <td>
                    {{sample.concentrationString}}
                </td>
                <td>
                    {{sample.concentrationUnits}}
                </td>
                <td>
                    {{sample.volumeString}}
                </td>
                <td>
                    {{sample.volumeUnits}}
                </td>
                <td>
                    {{sample.division.stringLabel}}
                </td>
                <td>
                    {{sample.divisionRow}}
                </td>
                <td>
                    {{sample.divisionColumn}}
                </td>
            </tr>
    </tbody>
</table>
