<div class="cell-list-view ">
    <!-- <a ui-sref="sample.detail({id:sample.id})" ng-if="sample">ID {{sample.id}} - {{sample.name}}</a> -->
    <span class="empty" ng-if="!sample">Empty Well</span>
    <div ng-if="sample">
        <table class="box-grid-info-table">
            <tr>
                <td>Sample Type: </td>
                <td>
                    <i>
                        <sample-type-icon sample-type="sample.sampleType" class="xs" uib-tooltip="{{sample.sampleType.name}}"></sample-type-icon>
                    </i>
                    {{sample.sampleType.name}}
                </td>
            </tr>
            <tr>
                <td>Storage Container: </td>
                <td>{{sample.storageContainer.name}}</td>
            </tr>
        </table>
        <table class="box-grid-info-table">
            <tr>
                <td>Created At: </td>
                <td>{{sample.createdAt | date:'medium'}}</td>
            </tr>
            <tr>
                <td>Created By: </td>
                <td>
                    <i class="user-icon-list">
                        <cb-user-avatar user="sample.createdBy" class="xs" uib-tooltip="{{sample.createdBy.stringLabel}}"></cb-user-avatar>
                    </i>
                    {{sample.createdBy.stringLabel}}
                </td>
            </tr>
        </table>
    </div>
</div>
