 <div class="cell-list-view ">
    <a ui-sref="sample.detail({id:sdm.sampleMap[row][column].id})" ng-if="sdm.sampleMap[row][column]">View Details</a>
    <span class="empty" ng-if="!sdm.sampleMap[row][column]">Empty Well</span>
    <div ng-if="sdm.sampleMap[row][column]">
        <table class="box-grid-info-table">
            <tr>
                <td>Name: </td>
                <td>{{sdm.sampleMap[row][column].name}}</td>
            </tr>
            <tr>
                <td>Target: </td>
                <td>{{sdm.sampleMap[row][column].target.name}}</td>
            </tr>
            <tr>
                <td>Tag: </td>
                <td>{{sdm.sampleMap[row][column].tag.name}}</td>
            </tr>
            <tr>
                <td>Sample Type: </td>
                <td>{{sdm.sampleMap[row][column].sampleType.name}}</td>
            </tr>
        </table>
        <table class="box-grid-info-table">
             <tr>
                <td>Molecule: </td>
                <td>{{sdm.sampleMap[row][column].molecule.name}}</td>
            </tr>
            <tr>
                <td>Created At: </td>
                <td>{{sdm.sampleMap[row][column].createdAt | date:'medium'}}</td>
            </tr>
            <tr>
                <td>Created By: </td>
                <td>
                    <i class="user-icon-list">
                        <cb-user-avatar user="sdm.sampleMap[row][column].createdBy" class="xs" uib-tooltip="{{sdm.sampleMap[row][column].createdBy.stringLabel}}"></cb-user-avatar>
                    </i>
                    {{sdm.sampleMap[row][column].createdBy.stringLabel}}
                </td>
            </tr>
        </table>
    </div>
</div>
