<form class="form-horizontal">

    <cb-form form="cbForm">

        <div class="modal-body">

            <cb-form-group label="Choose sample" name="sample">
                <div class="col-sm-10">
                    <one-to-one name="sample" show-grid="true" grid="sampleGrid" ng-model="sample" bind-to="sample" parent-object="sample" resource-url="/sample" placeholder="Link Sample.." required></one-to-one>
                </div>
            </cb-form-group>

        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="!sample" ng-click="submit()">Link</button>
            <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
        </div>

    </cb-form>

</form>
