<table class="storage-division-details-table-container">
    <tbody>

        <tr>
            <td>
                Description
            </td>
            <td>
                {{division.description}}
            </td>
        </tr>

        <tr>
            <td>Allowed Sample Types</td>
            <td ng-if="division.allowAllSampleTypes || division.divisionSampleTypes.length">
                <span ng-if="division.allowAllSampleTypes">
                    <i class="fa fa-check-circle text-primary"/>
                    Any Sample Type Allowed
                </span>
                <i ng-if="!division.allowAllSampleTypes" ng-repeat="divisionSampleTypes in division.divisionSampleTypes" class="sample-type-icon-list">
                    <sample-type-icon sample-type="divisionSampleTypes.sampleType" class="xs" ng-if="divisionSampleTypes.sampleType" uib-tooltip="{{divisionSampleTypes.sampleType.name}}"></sample-type-icon>
                </i>
            </td>
            <td ng-if="!division.allowAllSampleTypes && !division.divisionSampleTypes.length">Not Configured</td>
        </tr>

        <tr>
            <td>
                Allowed Storage Containers
            </td>
            <td ng-if="division.allowAllStorageContainers || division.divisionStorageContainers.length">
                <span ng-if="division.allowAllStorageContainers">
                    <i class="fa fa-check-circle text-primary"/>
                    Any Storage Container Allowed
                </span>
                <span ng-if="!division.allowAllStorageContainers" ng-repeat="divisionStorageContainers in division.divisionStorageContainers">
                    {{divisionStorageContainers.storageContainer.stringLabel}}
                    <span ng-if="$index != (division.divisionStorageContainers.length - 1)">,</span>
                </span>
            </td>
            <td ng-if="!division.allowAllStorageContainers && !division.divisionStorageContainers.length">Not Configured</td>
        </tr>

        <tr>
            <td>
                Able To View
            </td>
            <td ng-if="division.isPublicView || division.isPublicEdit || division.divisionViewers.length">
                <span ng-if="division.isPublicView || division.isPublicEdit">
                    <i class="fa fa-users text-primary"/>
                    All Users
                </span>
                <i ng-if="!division.isPublicView" ng-repeat="divisionViewers in division.divisionViewers" class="user-icon-list">
                    <cb-user-avatar user="divisionViewers.user" class="xs" ng-if="divisionViewers.user"></cb-user-avatar>
                </i>
            </td>
            <td ng-if="!division.isPublicView && !division.isPublicEdit && !division.divisionViewers.length">
                <span><i class="text-danger fa fa-lock m-r-xs"/>Restricted</span>
            </td>
        </tr>

        <tr>
            <td>
                Able To Edit
            </td>
            <td ng-if="division.isPublicEdit || division.divisionEditors.length">
                <span ng-if="division.isPublicEdit">
                    <i class="fa fa-users text-primary"/>
                    All Users
                </span>
                <i ng-if="!division.isPublicEdit" ng-repeat="divisionEditor in division.divisionEditors" class="user-icon-list">
                    <cb-user-avatar user="divisionEditor.user" class="xs" ng-if="divisionEditor.user"></cb-user-avatar>
                </i>
            </td>
            <td ng-if="!division.isPublicEdit && !division.divisionEditors.length">Not Configured</td>
        </tr>

        <tr ng-if="division.divisionGroupEditors.length && !division.isPublicEdit">
            <td>
                Group Editors
            </td>
            <td>
                <span ng-repeat="divisionGroupEditors in division.divisionGroupEditors">
                    {{divisionGroupEditors.group.stringLabel}}
                    <span ng-if="$index != (division.divisionGroupEditors.length - 1)">,</span>
                </span>
            </td>
        </tr>

        <tr ng-if="division.divisionGroupViewers.length && !division.isPublicView">
            <td>
                Group Viewers
            </td>
            <td>
                <span ng-repeat="divisionGroupViewer in division.divisionGroupViewers">
                    {{divisionGroupViewer.group.stringLabel}}
                    <span ng-if="$index != (division.divisionGroupViewers.length - 1)">,</span>
                </span>
            </td>
        </tr>

    </tbody>
</table>
