<form name="userForm" method="get" class="form-horizontal" ng-submit="submit(userForm.$valid)" novalidate autocomplete="off">

    <div id="user-form-container">

        <div class="modal-header">
            <button type="button" class="close" ng-click="close()"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Disable User {{user.firstName}} {{user.lastName}}</h4>
        </div>

        <div class="modal-body">
            <p class="d-table center-block"><i class="fa fa-ban fa-5x" /></p>
            Are you sure you want to disable this user? They will no longer be able to login.
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Disable</button>
            <button type="button" class="btn btn-default" ng-click="$close()">Cancel</button>
        </div>

    </div>

</form>
